/* Estilos personalizados para campos de cantidad entrante y saliente */

/* Centrar campos de cantidad */
.o_data_row .o_data_cell[name="incoming_qty"],
.o_data_row .o_data_cell[name="outgoing_qty"] {
    text-align: center !important;
}